$white: #ffffff;
$charcoal-grey: #3d3d3f;
$dark-grey: #202124;
$white-two: #f6f6f6;
$white-three: #ededed;
$white-four: #d4d3d3;
$pea-green: #82bf11;
$strawberry: #f63f45;
$greyish-two: #b7b7b7;
$pale-orange: #ffa15f;
$pumpkin-orange: #ff7413;
$bright-orange: #ff6900;
$apricot: #ffc371;
$greyish-brown: #4d4d4d;
$pinkish-grey: #cccccc;
$greyish: #acacac;
$item-selected: #f1f1f1;

@mixin base-style(  $font-size: 14px,
                    $font-weight:normal,
                    $line-height:1.57,
                    $color: $greyish-brown)
{
    font-family: Montserrat;
    font-size: $font-size ;
    font-weight:$font-weight;
    font-style: normal;
    font-stretch: normal;
    line-height: $line-height;
    letter-spacing: normal;
    color: $color ;
}
@mixin base-icon(   $width: 24px,
                    $height:24px,
                    $opacity:1,
                    $background:none)
{
    width: $width;
    height: $height;
    object-fit: contain;
    opacity: $opacity;
    background: $background;
}
.bread-crumb {
    background-color: $white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    ul {
        margin:0px;
        padding: 0px;
        list-style: none;
    }
    li {
        display: inline;
        + li:before {  //ul.breadcrumb li+li:before 
            padding: 0px;
            content: "/\00a0";
        }
    }
    a{
        @include base-style($color: $dark-grey );
        text-decoration: none;
        &:hover{
            // color: #01447e;
            text-decoration: underline;
        }
    }
}
.cate-filter-text{
    @include base-style($font-size: 16px,
                        $font-weight:bold,
                        $line-height:1.5,
                        $color: $dark-grey)
}

.drop-down{
    position: relative;
    display: inline-block;
    
    width: 100%;
    &:hover{
        .drop-content{
            display: block;
        }
    }

    button{

        @include base-style($font-size: 12px,
                    $font-weight:bold,
                    $line-height:1.5,
                    $color: $dark-grey);
        width: 100%;
        cursor: pointer;
        border: solid 1px $greyish-two;
        background-color: $white-two;
        position: relative;
        padding: 7px 10px;
        text-align: left;
        img{
            position: absolute;
            right: 0px;
            top:5px;
        }
    }
    .drop-content{
        position: absolute;
        display: none;
        z-index: 9999;
        width: 100%; 
        box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
        border: solid 0.5px #eaeaea;
        background-color: #fbfbfb;
        a{
            @include base-style($font-size: 12px,
                        $font-weight:500,
                        $line-height:1.83,
                        $color: $greyish-brown);
            text-decoration: none;
            display: block;
            padding: 7px 10px;
            &:hover {
                background-color: $item-selected;
            }
        }
    }
}

.paginationn{
    img{
        @include base-icon();
    }
    button{
        padding: 0;
        border: none;
        background-color:$white;
        &:first-child{
            img{
                transform: rotate(90deg);
            }
        }
        &:last-child{
            img{
                transform: rotate(-90deg);
            }
        }
    }
    span{
        @include base-style($font-size: 14px,
                        $font-weight:500,
                        $line-height:1.57,
                        $color: $dark-grey);
        margin: 0px 6px;
        text-align: center;
    }
    
}
.category{
    margin-bottom: 54px;
    ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    li{
        padding: 9px 2px;
        cursor: pointer;

        &:hover{
            background-color: $item-selected;
        }
    }
    a{
        @include base-style($font-weight:500,
                            $line-height:1.57,
                            $color: $greyish-brown);
        &:hover{
            text-decoration: none;
        }
       
    }
}

.filter{
    margin-top: 48px;

    .accordion-list{
        margin-top: 33px;
        ul{
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }
        li{
            padding: 9px 2px;
            cursor: pointer;
            border-bottom: 1px solid rgba(0,0,0,.1);
            &:hover{
                background-color: $item-selected;
            }
        }
    }
}

.accordion-item{

    .accordion-item-header{
        position: relative;
        border-bottom: solid 1px var(--white-four);
        margin-bottom: 15px;
        padding-bottom: 8px;
        span{
            @include base-style($font-weight:500,
                            $line-height:1.57,
                            $color: $dark-grey);
        }
        img{
            position: absolute;
            top: 0px;
            right:0px;
        }
    }

    .accordion-item-content{
        .size-box{
            border: solid 1px var(--white-four);
            display: inline-block;
            width: 40px;
            height: 40px;
            position: relative;
            margin-right: 12px;
            span{
                @include base-style($font-weight:normal,
                            $line-height:1.57,
                            $color: $dark-grey);

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
            }
        }
        .size-box-selected{
            @extend .size-box;
            background-color: $pale-orange;
            span{
                color: $white;
            }
        }
        .color-box{
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: #ff5f6d;
            border-radius:50%;
            margin-right:10px;
        }
        .color-box-selected{
            @extend .color-box;
            border: solid 2px $dark-grey;
        }
        .brand-list{ //extended filter class

            li{
                background-color: #fafafa;
                border: none;
                position: relative;
                img{
                    position: absolute;
                    top:0px;
                    right:0px;
                }
                span{
                    margin-left:6px;
                }
            }
        }
    }
}
