.auth{
  display: block;
  position: fixed;
  top: 15%;
  left: 30%;
  /* transform: translate(-50%, -50%); */
  z-index: 9999;
  padding: 30px 78px 20px 78px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
  background-color: var(--white);
  
  max-height: 500px;
  overflow: auto;
}

.btn-cancel{
  position: absolute;
  
  background-color: var(--white);
  top:14px;
  right:14px;
  padding: 0px;
  border: none;
  outline: none;
} 
.auth p{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: center;
  /* color: var(--strawberry); */
}

.auth h2{
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
}
.auth-form label{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark-grey);
}
.auth-form p{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--greyish-brown);
}
::placeholder{
  opacity: 0.3;
}
.form-group input[type=text], .form-group input[type=password] {
  width: 385px;
  height: 45px;
  padding: 12px;
  /* margin: 8px 0 24px 0; */
  border: solid 1px var(--greyish-two);
  background-color: var(--white-two);

  
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--greyish-brown);
}

.btn-submit{
  margin-top: 10px;
  margin-bottom: 15px;
  height: 50px;
  width: 100%;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--white-four);

  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
.btn-active{
  background-color: var(--pale-orange);
}
.form-group{
  margin-bottom: 0.5em !important;
}

.remember-me{
  margin-top:24px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;

  color: var(--greyish-brown);
}
.remember-me a{
  color: var(--greyish-brown);
  font-weight: 600;
  color: var(--pumpkin-orange);
  text-decoration: underline;
}
.noaccount{
  margin-top: 15px;
}
.noaccount a{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--pumpkin-orange);
  text-decoration: underline;
}

