/* .Arrow {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.Cart {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.Cross {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.Arrow {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.Cross {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.Arrow {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.Check {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .CheckBox {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .Minus {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .Minus {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .Minus {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .CheckBox {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .Plus {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .with-oval {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }
  .Search {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .with-oval {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }
  .facebook-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .Plus {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .Twitter {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .instagram-6-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .Twitter-blue {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .twitter-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .Twitter-white {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .CheckBox {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .Check {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
.Cross-Copy {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.Plus {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.Star {
    width: 16px;
    height: 16px;
    object-fit: contain;
} */